@CHARSET "UTF-8";

/* header */

#header .inner {width:1100px;height:61px;margin:0 auto;*zoom:1;}
#header .inner:after {display:block;clear:both;content:"";}
#header h1 {float:left;padding:24px 10px 0 0;}
.gnb {float:left;padding-top:24px;margin-right:100px;margin-left:100px;*zoom:1;}
.gnb:after {display:block;clear:both;content:"";}
.gnb > li {float:left;position:relative;padding:0 77px 22px 0;z-index:200;}
.gnb > li.menu2 {padding-right:65px;}
.gnb > li > a {display:inline;  width:40px;height:16px;color: black; font-size:15px; font-weight: bold;}
.gnb .menu1 > a {width:53px;background-position:0 0;}
.gnb .menu2 > a {width:52px;background-position:-55px 0;}
.gnb .menu3 > a {background-position:-108px 0;}
.gnb .menu4 > a {background-position:-149px 0;}
.gnb .menu5 > a {width:53px;background-position:-189px 0;}
.gnb .menu6 > a {background-position:-243px 0;}
.gnb .menu6 {padding-right:0;}
.gnb .menu1:hover > a, .gnb .menu1 > a:focus, .gnb .menu1.on > a {background-position:0 -16px;}
.gnb .menu2:hover > a, .gnb .menu2 > a:focus, .gnb .menu2.on > a {background-position:-55px -16px;}
.gnb .menu3:hover > a, .gnb .menu3 > a:focus, .gnb .menu3.on > a {background-position:-108px -16px;}
.gnb .menu4:hover > a, .gnb .menu4 > a:focus, .gnb .menu4.on > a {background-position:-149px -16px;}
.gnb .menu5:hover > a, .gnb .menu5 > a:focus, .gnb .menu5.on > a {background-position:-189px -16px;}
.gnb .menu6:hover > a, .gnb .menu6 > a:focus, .gnb .menu6.on > a {background-position:-243px -16px;}
.gnb .gnb_list {overflow:hidden;position:absolute;top:37px;left:-10px;width:119px;height:0;padding-left:10px;font-size:13px;z-index:200;border-left:1px solid #ddd;}
.gnb .menu1 .gnb_list {border-left:none;}
.gnb .gnb_list li {margin-bottom:7px;}
.gnb .gnb_list li:first-child {padding-top:20px;}
.gnb .gnb_list li.wide {width:140px;}
.gnb .gnb_list li a {display:inline-block;padding-bottom:3px;color:#777;letter-spacing:-0.5px;}
.gnb .gnb_list li.on a, .gnb .gnb_list li:hover a {padding-bottom:2px;font-weight:bold;color:#141414;border-bottom:1px solid #333;}
.gnb_bg {position:absolute;top:61px;left:0;width:100%;height:0;background:url(/APTmanager/css/images/common/gnb_bg.png) center bottom repeat-x #efefef;border-bottom:1px solid #bbb;z-index:100;}
#header .util {float:right;overflow:hidden;padding-top:24px;font-size:13px; display: inline;position:absolute;}
#header .util:after {display:block;clear:both;content:"";}
#header .util a {display:block;float:left;padding:0 7px;background:url(/APTmanager/css/images/common/util_bar.gif) 0 3px no-repeat;color:#c2c885;}
#header .util a:hover {color:#fff;}
#header .util a:first-child {background:none;}
#header .util a:last-child {padding-right:0;}