@CHARSET "EUC-KR";

.f_list_table {font-size: 20px; font-weight: bold;}
.f_detail_h  {font-size: 20px; font-weight: bold;}
.contents_box {overflow:hidden;float:left;width:870px; margin-left: 30%;}