<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="maintain_fees.model.Personal_mgmt_ex" alias = "Personal_mgmt_ex"/>
		<typeAlias type="maintain_fees.model.setIdMonth" alias = "setIdMonth"/>

		<typeAlias type="resident.model.Resident" alias = "Resident"/>
		<typeAlias type="resident.model.Reservation" alias = "Reservation"/>
		<typeAlias type="resident.model.ListModel" alias = "ListModel"/>

		<typeAlias type="guest.model.Guest" alias = "Guest"/>
		<typeAlias type="guest.model.GuestRe" alias = "GuestRe"/>
		
		<typeAlias type="facility_reservation.model.Facility" alias = "Facility"/>
		<typeAlias type="facility_reservation.model.Facility_time" alias = "Facility_time"/>
		<typeAlias type="facility_reservation.model.Facility_reservation" alias = "Facility_reservation"/>
		
		 
		<typeAlias type="real_estate.model.RealEstate_rent" alias = "RealEstate_rent"/>
		<typeAlias type="real_estate.model.RealEstate_trade" alias = "RealEstate_trade"/>

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="facility_reservation/mapper/Facility.xml"/>
		<mapper resource="maintain_fees/mapper/Bill.xml"/>
		<mapper resource="resident/mapper/Resident.xml"/>
		<mapper resource="guest/mapper/guest.xml"/>		
		
		<mapper resource="real_estate/mapper/RealEstate.xml"/>	
	</mappers>
	
</configuration>
